<section class="faq">
  <h2>How are points calculated?</h2>
  <h3>Elimination Points</h3>
  <p>
    Elimination points will play a pretty big role in the amount of points you get, especially when playing in Duo and Squad matched.
  </p>
  <p>Elimination points are based off the match type:</p>
  <ul>
    <li>
      Solo: 10 points
    </li>
    <li>
      Duo: 20 points
    </li>
    <li>
      Squad: 40 points
    </li>
  </ul>
  
  <h3>Place Points</h3>
  <p>Place points are a little more complicated.</p>
  <p>The following table shows how many points you get for solo matches:</p>
  
  <table>
    <thead>
      <tr>
        <th>Place</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <tr class="off-color">
        <td>1</td>
        <td>100</td>
      </tr>
      <tr>
        <td>2</td>
        <td>94</td>
      </tr>
      <tr class="off-color">
        <td>3</td>
        <td>91</td>
      </tr>
      <tr>
        <td>4</td>
        <td>88</td>
      </tr>
      <tr class="off-color">
        <td>5</td>
        <td>85</td>
      </tr>
      <tr>
        <td>6</td>
        <td>80</td>
      </tr>
      <tr class="off-color">
        <td>7</td>
        <td>75</td>
      </tr>
      <tr>
        <td>8</td>
        <td>70</td>
      </tr>
      <tr class="off-color">
        <td>9</td>
        <td>65</td>
      </tr>
      <tr>
        <td>10</td>
        <td>60</td>
      </tr>
      <tr class="off-color">
        <td>11 - 15</td>
        <td>55</td>
      </tr>
      <tr>
        <td>16 - 20</td>
        <td>50</td>
      </tr>
      <tr class="off-color">
        <td>21 - 30</td>
        <td>45</td>
      </tr>
      <tr>
        <td>31 - 40</td>
        <td>40</td>
      </tr>
      <tr class="off-color">
        <td>41 - 50</td>
        <td>35</td>
      </tr>
      <tr>
        <td>51 - 75</td>
        <td>30</td>
      </tr>
      <tr class="off-color">
        <td>76 - 100</td>
        <td>25</td>
      </tr>
    </tbody>
  </table>
  <h4>Duo Points</h4>
  <p>
    If you play a Duo match with a full Duo, you get the point value shown above divided by two.
  </p>
  <p>
    Example: You and your teamate place 1<sup>st</sup>. You get 50 place points.
  </p>
  <p>You are essentially dividing the points evenly.</p>
  <h5>Soloing a Duo</h5>
  <p>
    If you decide to "solo" a Duo match, your placement points will increase considerably. You will receive the original point value PLUS the point value times two.
  </p>
  <p>
    Example: You place 1<sup>st</sup> in a Duo match while "soloing". You get 50 points PLUS (50 * 2) = 150 points.
  </p>
  <h4>Squad Points</h4>
  <p>
    If you play a Squad match with a full Squad, you get the point value shown above divided by four.
  </p>
  <p>
    Example: You and a full squad place 1<sup>st</sup>. You get 25 place points.
  </p>
  <p>Again, you are essentially dividing the points evenly.</p>
  <h5>No-Fill Squad</h5>
  <p>
    If you decide to play a Squad match with less than a full squad, your placement points will increase considerably. You will receive the original point value PLUS the point value times 2.4 TIMES the number of players missing.
  </p>
  <p>
    Example: You place 1<sup>st</sup> in a Squad match with only two players. You get 25 points PLUS (25 * 2.4 * 2) = 145 points.
  </p>
  <p>
    For winning a Squad match while "soloing", you get 205 points.
  </p>
</section>