<section class="players">
  <% if session[:logged_in] %>
    <h2>All Players</h2>
    <p>Check out other players' stats!</p>
    <ul>
      <% @players.each do |player| %>
      <% current_player = player[:name] %>
      <% next if current_player == session[:current_user] %>
        <li>
          <a href="/players/<%= current_player %>/stats/combined/<%= @current_season %>/page-1">
            <%= current_player %>
          </a>
        </li>
      <% end %>
    </ul>
  <% else %>
  <section class="login-msg">
    <h2>Login to view other players' stats</h2>
    <p>
      <a href="/players/login">Login</a> to start tracking your stats! Or <a href="/players/new">Sign Up</a>
    </p>
  </section>
  <% end %>
</section>