<section class="players">
  <h2>All Players</h2>
  <p>Check out other player's stats!</p>
  <ul>
    <% @players.each do |player| %>
    <% current_player = player[:name] %>
    <% next if current_player == session[:current_user] %>
      <li>
        <a href="/players/<%= current_player %>/stats/combined/<%= @current_season %>/page-1">
          <%= current_player %>
        </a>
      </li>
    <% end %>
  </ul>
</section>