<h2>Update Password</h2>

<form action="/players/login/update" method="post">
  <fieldset>
    <label for="password">Password</label>
    <p>(minimum 6 characters, letters and numbers only)</p>
    <input type="password" name="password" id="password" autocomplete="off">
  </fieldset>
  <fieldset>
    <label for="repass">Re-Enter Password</label>
    <input type="password" name="repass" id="repass" autocomplete="off">
  </fieldset>
  <input type="submit" value="Update Password">
</form>